@media (max-width: 599px){
    .form{
        flex-wrap: wrap;
        width: 80%;
    }
    .form input[type="text"] {
        width: 100%;
    }
    .form .getStrt {
        width: 10rem;
    }
    .nav{
        width: 92%;
    }    
}